:root{
    --blue:#00a8e8;
    --dark:#1B2430;
    --yellow:#fdd142;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins',Arial, sans-serif;
    color: white;
    scroll-behavior: smooth;
}
body{
    background-color: var(--dark);
}
/* scroll bar */
::-webkit-scrollbar {
    width: 7px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
  }
  

a{
    color: inherit;
    text-decoration: none;
}
section{
    width: 100%;
    min-height: 100vh;
    padding: 65px 5%;
    padding-bottom: 0;
}
.cBlue{
    color: var(--blue);
}
.bgColor{
    background-color: var(--yellow);
    padding: 0 10px;
    color: #1B2430;
}

.btn{
    display: inline-block;
    color: white;
    background-color: var(--blue);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1);
    transition: all 0.5s;
    padding: 5px 15px;
}
.btn:active{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transform: scale(0.9);
}
/* registration modal */
#register{
    background-color: #00a8e845;
    backdrop-filter: blur(20px);
    position: fixed;
    z-index: 1;
    display: grid;
    place-items: center;
    z-index: 2;
}
.iconX{
    position: absolute;
    top: 5%;
    right: 5%;
    display: block;
    color: #1B2430;
    z-index: 1;
    width: 15px;
    height: 15px;
    background-color:var(--dark);
    padding: 0.25rem;
    border-radius: 50%;
}
.dNone{
    display: none;
}
#register.dNone{
    display: none;
}
.dInh{
    display: inherit;
}
#register form{
    position: relative;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    width: 40%;
    place-items: center;
}
#register .btn{
    margin: 0 1rem 1rem;
    width: 90%;
    resize: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    text-align: center;
}
#register input{
    color: var(--dark);
}
/* Navbar */
.navbar{
    width: 100%;
    top: -3px;
    padding: 0 5%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    z-index: 100;
    color: white;
}
.logo{
    padding: 20px 0;
    font-weight: bold;
    font-size: 150%;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 0;
}
.navbar ul li a{
    position: relative;
    margin: 0 10px;
    padding: 5px 15px;
    z-index: 1;
    transition: all 0.5s;
    font-weight: 500;
    color: white;
}
.navbar ul li:last-child a{
    margin-right: 0;
}
.navbar ul li:not(:last-child) a:before{
    position: absolute;
    content: '';
    width: 0%;
    height: 1px;
    border-radius: 10px;
    background-color: var(--blue);
    left: 0;
    bottom: 0;
    transform: rotateX(calc(width/2));
    transition: all 1s;
    z-index: -1;
}
.navbar ul li:not(:last-child) a:hover{
    color: var(--blue);
}
.navbar ul li a:hover::before{
    width: 100%;
}
.navbar ul li a.active{
    color: var(--blue);
}
.navbar ul li a.active::before{
    width: 100%;
}

.checkBtn{
    position: absolute;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    right: 40px;
    display: none;
}
#check{
    display: none;
}
/* Home */
#home{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shape{
    top:15%;
    right: 10%;
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: var(--blue);
    border-radius: 5px;
    transform: scale(1) rotate(10deg);
    animation: ShapeSpin 60s infinite;
    z-index: -1;
}
.shape1{
    top:80%;
    left: 10%;
    width: 70px;
    height: 70px;
    transform: scale(1) rotate(0deg);
    background-color: var(--yellow);
    animation: ShapeSpin 15s infinite alternate;
}
@keyframes ShapeSpin {
    to{
        transform: rotate(180deg) ;
    }
}
#home div{
    text-align: center;
}
#home div h1{
    font-size: 50px;
}
#home div p{
    margin: 5px 0 10px 0;
}



/* about */
.grid-flow{
    display: grid;
    align-content: start;
    gap: 1rem;
    padding: 1rem;
}
.grid-flow[data-spacing="large"]{
    gap: 2rem;
}

.flex-group{
    display: flex;
    align-items: center;
    gap:0.5rem;
    flex-wrap: wrap;
}
#about,#card,#post{
    position: relative;
    text-align: center;
}
#about{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.header{
    width: 100%;
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}
.rTitle ,.rRank{
    font-weight: 500;
    font-size: 20px;
}
.container{
    max-width: 42rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    margin-bottom: 18rem;
}

.result{
    padding: 2.5rem; 
    text-align: center;
    background-color: var(--blue);
    width: 100%;
    border-radius: 2rem;
}
.rScore{
    display: grid;
    place-content: center;
    width: 12rem;
    margin-inline: auto;
    background-color: #1B2430;
    aspect-ratio:1/1;
    border-radius: 50%;
}
.rScore span{
    display: block;
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    color: white;
}
.summary .rTitle{
    display: block;
    padding: 3rem;
    text-align: center;
}
.sumItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 2.5rem;
    border: 1px solid var(--blue);
}

.btnBlock{
    margin: 1rem;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    text-align: center;
    background-color: var(--blue);
}


/* posting section */

.card_group{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 40px 0;
}
.card_group .card{
    position: relative;
    width: 300px;
    height: 420px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 15px;
     margin: 30px 0%;
     margin: 30px;
     margin-top: 0;
     transition: 0.5s;
}
.card_group .card .box{
    position: absolute;
    top:20px;
    left: 20px;
    right: 20px;
    bottom:20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.card_group .card:hover .box{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 14px;
}
.card_group .card .box .content{
    padding: 20px;
    text-align: center;
}
.card_group .card .box h3{
    font-size: 1.8em;
    color: #00a8e8;
    z-index: 1;
    transition:0.5s ;
}

.card_group .card .box p{
    font-size: 0.9em;
    z-index: 1;
    text-align: justify;
    margin-bottom: 20px;
    transition:0.5s ;
}
.card_group .card .box .btn:hover{
    background-color: var(--yellow);
    color: var(--dark);
}

/* contact */
#contact{
    position: relative;
}
.wrapper{
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
}

.itemInput{
    display: inline-block;
    width: 100%;
}
.itemInput label{
    text-transform: capitalize;
    color: var(--blue);
    font-weight: 500;
    display: block;
}
.itemInput input, .wrapper .itemInput textarea{
    margin: 0 1rem 1rem;
    width: 90%;
    resize: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid var(--blue);
    background-color: #00a8e810;
}
.wrapper .btn{
    margin: 0 1rem 1rem;
    width: 90%;
    resize: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    text-align: center;
}
.formContent{
    display: grid;
    place-items: center;
}
.formUl{
    padding:0 1rem;
}
.formUl img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* footer */
.footer{
    margin-top: -9em;
    text-align: center;
    padding: 1rem 5%;
}

.social a{
    display: inline-block;
    background-color: var(--blue);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin:0.5rem;
    transition: 0.5s;
}
.social a .icon{
    font-size: 30px;
    padding: 2.5px;
}
.social a:hover{
    background-color: var(--dark);
}
/* Respons */
@media (max-width:768px) {
    .navbar{
        top: -3px;
        position: fixed;
        display: grid;
        place-items: center;
    }
    .navbar ul{
        display: none;
    }
    .navbar ul.active{
        position: absolute;
        background-color: var(--dark);
        display: inline-block;
        top:100%;
        height: min-content;
        width: 90%;
        flex-wrap: wrap;
        padding: 1rem;
        transition: all 0.5s;
    }
    .navbar ul li{
        margin: 1rem 0;
        text-align: center;
    }
    .btn{
        display: block;
        padding: 15px 0;
        z-index:10;
    }
    
    .container,.wrapper{
        grid-template-columns: 1fr;
    }
    .wrapper .formContent{
        order: -1;
    }
    /* post section */
    .card_group{
        grid-template-columns: repeat(2,1fr);
    }
    .card_group .card{
        margin: 30px 0%;
    }
    .checkBtn{
        display: inline-block;
    }
    #register form{
        width: 90%;
    }
}
@media (max-width:600px){
    .card_group{
        display: inline-block;
    }
}
